:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary: #198bb1;
  /* Primary color for links and buttons */
  --secondary: #8c4210;
  /* Secondary color for hover effects */
  --tertiary: #556b2f3e;
  /* Tertiary color for accents and borders */
  --quaternary: #f5f5cc;
  /* Quaternary color for light backgrounds */
  --light: #ffffff;
  /* Light text color */
  --dark: #242424;
  /* Dark background color */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--secondary);
  text-decoration: inherit;
}

a:hover {
  color: var(--primary);
}

.header {
  background-image: url('./assets/images/YS1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25vh;
  width: auto;
}

.header h1 {
  font-size: 4rem;
  padding: 10px;
  color: var(--secondary);
  text-shadow: 2px 2px 4px #000000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.nav-home {
  list-style-type: none;
  padding: 10px 100px 10px 0;
  display: flex;
}

.nav-icon {
  font-size: 1.75rem;
  margin: 0;
  padding: 0 20px;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--primary);
  text-shadow: 1px 1px 4px #000000;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.25s ease-in-out;
}

.nav-link:hover {
  background-color: var(--dark);
  color: var(--primary);
  text-shadow: 1px 1px 4px #000000;
  border-radius: 50px;
}

.nav-link.active {
  color: var(--secondary);
  text-shadow: none;
  background-color: var(--dark);
  border-radius: 50px;
}

.home h1 {
  font-size: 3.5em;
  margin-top: 20px;
  color: var(--quaternary);
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

.home p {
  font-size: 1.2em;
  color: var(--quaternary);
  margin: 20px;
  text-align: center;
}

.project {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.project-content {
  background: #3d3d32;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 100%;
  max-width: 650px;
}

.project-content h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: var(--primary);
}

.project-content a {
  display: block;
  /*restrict size of picture */
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 15px;
  transition: transform 0.3s ease;
}

.project-content a:hover {
  transform: scale(1.05);
  /* Slightly enlarge the image on hover */
}

.project-description {
  display: flex;
  flex-direction: column;
  /* Stack children vertically */
  align-items: center;
  /* Center children horizontally */
  text-align: left;
  /* Center text inside the container */

}

.project-description p {
  margin: 10px 0;
  font-size: 1.1em;
  color: #ccc;
  /* Lighter text for description */
}

.project-description a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
  /* Ensure link is white for contrast */
  background-color: var(--secondary);
  /* Button-like appearance */
  padding: 0.5em 1em;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.project-description a:hover {
  background-color: var(--secondary);
  /* Darker shade on hover */
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(600px, 1fr));
  gap: 10px;
  margin: 10px auto;
  max-width: 1600px;
  /* Limit the width for better readability */
  padding: 0 20px;
}

.portfolio-page {
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.portfolio-page h1 {
  font-size: 3.2em;
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary);
  /* Sets the color of the title to primary color */
}

.portfolio-page p {
  color: var(--quaternary);
}

body {
  background-color: var(--background-color, #242424);
  /* Fallback for older browsers */
  color: var(--color, rgba(255, 255, 255, 0.87));
  /* Fallback for older browsers */
}

/* Ensure buttons have a consistent appearance */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1a1a1a;
  /* Fallback for older browsers */
  color: var(--quaternary);
  /* Icon color */
}

.social-icons a:hover {
  background-color: var(--secondary);
  /* Change background on hover */
  color: #fff;
  /* Ensure icon color remains white */
}

/* button {
  color: var(--quaternary)
} */
button:hover {
  border-color: var(--primary);
}

button:focus,
button:focus-visible {
  outline: 8px auto -webkit-focus-ring-color;
}

.aboutMe {
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  /* Ensures the section takes full height */
  ;
}

.aboutMe h1 {
  flex: 1 1 55%;
  /* Makes the paragraph take up 60% of the container */
  text-align: left;
  /* Ensures the text is justified */
  order: -2;
  /* Moves the title to the top */
  color: var(--primary);
  /* Sets the color of the title to secondary color */
}

.aboutMe h2 {
  font-size: 2em;
  text-align: right;
  /* Makes the subtitle take up 40% of the container */
  margin: 0;
  /* Removes unnecessary margins */
  color: var(--primary);
  /* Sets the color of the subtitle to primary color */
  order: -2;


}

.aboutMe p {
  flex: 1 1 40%;
  /* Makes the paragraph take up 60% of the container */
  text-align: justify;
  /* Ensures the text is justified */
  /* Add margin only to the right*/
  margin: 0 20px;
  /* Adds margin to the left and right for spacing */
  /* add a decorative vertical line break*/
  border-right: 6px groove var(--primary);
  /* Decorative vertical line */
  padding-right: 20px;
  /* Adds padding to the right of the text */
  display: flex;
}

.aboutMeDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* flex: 1;*/
 
}

.aboutMeDetails p {
  color: var(--quaternary);
  order: -1;
  margin: 20px;
}

.aboutMe-image-container {
  flex: 0 0 auto;
  gap: '20px';
  border-radius: 20px;
  height: 340px;
  width: auto;
  background-position: center;
  /* Centers the .gif */
  background-repeat: no-repeat;
  /* Prevents the .gif from repeating */
  background-size:cover;
  /* set the .gif just after image*/
  background-image:url( 'https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMWYxbGJpZXQ3cGFpcXNwNnV4NWZ3cGVkanJndnlueDM1MW82dDY1ZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/tuQgrAx08jfj2/giphy.gif');


}
.aboutMe-Image-Filler {
  flex: 1 ;
  height: 300px;
  width: 700px;
  background-image:url( 'https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMWYxbGJpZXQ3cGFpcXNwNnV4NWZ3cGVkanJndnlueDM1MW82dDY1ZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/tuQgrAx08jfj2/giphy.gif');
  border: 10px solid black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 100px;

  background-position: center;
  /* Centers the .gif */
  background-repeat: no-repeat;
  /* Prevents the .gif from repeating */
  background-size:cover;
  /* set the .gif just after image*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.aboutMe-proficiencies {
  order: 0;
  /* Keep the proficiencies list in its current position */
  flex: 1;
  /* Makes the proficiencies section take up 35% of the container */
  margin: 0;
  /* Removes unnecessary margins */
}

.proficiencies-list {
  order: 0;
  /* Keep the proficiencies list in its current position */
  flex: 1;
  /* Makes the proficiencies section take up 35% of the container */
  margin: 0;
  /* Removes unnecessary margins */
  flex: 1 1 35%;
  /* Makes the list take up 35% of the container */
  list-style-type: none;
  padding: 0;
}

.proficiencies-list li {
  font-size: 1.25rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--quaternary);
}

.proficiencies-list li svg {
  margin-right: 10px;
}

.contact-page {
  background-color: #1a1a1a;
  color: var(--quaternary);
  padding: 40px;
  border-radius: 8px;
  margin: 0 20px 0 0 auto;
  max-width: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact-page button {
  color: var(--quaternary);
}
.contact-page-box {
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid --dark;
  text-align: left;
  border-radius: 4px;
  background-color: var(--dark);
  /* Dark background for input */
  color: var(--quaternary);
  /* White text for contrast */
}

.contact-page-box input,
.contact-page-box textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--dark);
  /* Dark background for input */
  color: var(--light);
  /* White text for contrast */
  font-size: 1em;
  align-items: right;
  box-sizing: border-box;
}

.footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: auto;
}

/*media query to change screen layout when viewing it at 1070px or less */
@media (max-width: 1070px) {
  body {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 2.5em;
  }

  button {
    width: 100%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 1024px) {
  .nav-container {
    flex-direction: row;
    gap: 20px;
  }
  .nav-left,
  .nav-right {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .nav-center {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .home p {
    margin-top: 20px;
    text-align: center;
  }
  .portfolio-page {
    grid-template-columns: 1fr; /* Show projects in a single column */
  }

  .nav-left {
  margin-right: 10px; /* Space between left links and logo */
}

.nav-right {
  margin-left: 10px;  /* Space between logo and right links */
}
}

@media (max-width: 425px) {

  .content {
    padding: 0px 0px 40px;
    margin-top: -40px;
  }

  .app-container::before,
  .app-container::after {
  width: 10px;
}
  
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 2px;      /* Smaller padding */
    min-height: 40px;      /* Optional: set a smaller min height */
    margin-top: -30px; /* Adjust margin for smaller screens */
  }
  .nav-center {
    order: 1;
    justify-content: flex-start;
    flex: none;
  }
  .nav-logo {
    width: 110px;           /* Smaller logo */
    height: auto;
  }
  .nav-link {
    font-size: 0.85rem;    /* Smaller font */
    padding: 4px 8px;      /* Smaller padding */
  }
  .nav-left,
  .nav-right {
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;              /* Less gap between links */
  }
  .nav-right {
    order: 2;
    margin-left: -20px; /* Adjust margin for right links */
    align-items: flex-start
  }

  .nav-left {
    order: 0;
    margin-right: -20px;

  }
}